/* ============================================================
RESET STYLE
============================================================ */
/* Box sizing rules + margin 0 + padding 0 */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ==================================================================
  PERSONAL STYLE
================================================================== */
:root {
  --clr-moderate-violet: 263, 55%, 52%;
  --clr-very-dark-grayish-blue: 217, 19%, 35%;
  --clr-very-dark-blackish-blue: 219, 29%, 14%;
  --clr-white: 0, 0%, 100%;

  --clr-light-gray: 0, 0%, 81%;
  --clr-light-grayish-blue: 210, 46%, 95%;

  --ff-body: 'Barlow Semi Condensed', sans-serif;
  --fs-body: 13px;
}

body {
  display: grid;
  place-content: center;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  background-color: hsl(var(--clr-light-grayish-blue));
}

.text-dark {
  --text-color: var(--clr-very-dark-grayish-blue);
  color: hsl(var(--text-color));
}

.text-light {
  --text-color: var(--clr-white);
  color: hsl(var(--text-color));
}

.bg-moderate-violet {
  background-color: hsl(var(--clr-moderate-violet));
}

.bg-very-dark-grayish-blue {
  background-color: hsl(var(--clr-very-dark-grayish-blue));
}

.bg-very-dark-blackish-blue {
  background-color: hsl(var(--clr-very-dark-blackish-blue));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.cards {
  padding: 1rem;
  display: grid;
  gap: 1.5rem;
  max-width: 1152px;
}

.card {
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1.5rem 2rem 4rem -2rem hsl(var(--clr-very-dark-grayish-blue), 40%);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.25;
}

.card img {
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(var(--clr-white), 25%);
}

.card-header h2 {
  font-size: 13px;
  font-weight: 500;
}

.card-position {
  color: hsl(var(--text-color), 50%);
  font-size: 11px;
}

.card>p {
  color: hsl(var(--text-color), 70%);
}

.card>strong {
  font-size: 1.25rem;
  line-height: 1.25;
}

.card:nth-child(1) {
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0;
}

@media (min-width:576px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'c1 c1'
      'c2 c3'
      'c4 c4'
      'c5 c5';
  }

  .card:nth-child(1) {
    grid-area: c1;
  }

  .card:nth-child(2) {
    grid-area: c2;
  }

  .card:nth-child(3) {
    grid-area: c3;
  }

  .card:nth-child(4) {
    grid-area: c4;
  }

  .card:nth-child(5) {
    grid-area: c5;
  }
}

@media (min-width:768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'c1 c1 c2'
      'c3 c4 c4'
      'c5 c5 c5';
    gap: 2rem;
  }
}

@media (min-width:992px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'c1 c1 c2 c5'
      'c3 c4 c4 c5';
    gap: 2rem;
  }
}